<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href = "{{ url_for('static', filename='css/main.css') }}">
    <title>Review/aspect</title>
</head>
<body>
    <h1>Разметка отзывов</h1>
    <p>Вам предлагается прочитать отзыв и отметить есть ли аспект в нем</p>

    <table class="center" style="width:80%" >
        <tr>
            <th style="width:55%">Фильм</th>
            <th style="width:55%">Отзыв</th>
            <th style="width:20%">Аспект</th>
            <th style="width:25%">Наличие</th>
        </tr>
        <tr>
            <td> {{film_name}} </td>
            <td> {{review}} </td>
            <td> {{aspect}} </td>
            <td>
                <form action="/yes_clicked" method="post">
                    <button type="submit">хорошо</button>
                </form>
                <form action="/no_clicked" method="post">
                    <button type="submit">плохо</button>
                </form>
                <form action="/absence_clicked" method="post">
                    <button type="submit">отсутствует</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>


